<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <!-- omit /public in path since express adds it -->
    <link href="/css/home.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>Calendar</h1>
    </div>
    <div class="buttons">
        <a href="register.html" target="_self" class="btn">Register</a>
        <a href="login.html" target="_self" class="btn">Login</a>
    </div>

</div>
</body>
</html>