body{
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    font-size: 70px;
    font-family: 'Rubik Bubbles', cursive;
    font-weight: 300;
}
.buttons{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid;
    padding: 15px 40px;
    background-color: rgba(206, 116, 100, 0.747);
    color:#000;
    text-decoration: none;
    margin: 20px 30px 0 30px;
    font-size: 18px;
}
.btn:hover{
    background-color:  rgba(255, 235, 232, 0.747);
    font-size: 20px;
}